//  $nombre de variable : ;
$font: 'Nunito Sans', sans-serif;
$color-primary: #0F172A;
$color-secondary: #1E293B;
$color-tertiary: #7477FF;
$color-quaternary: #FFE575;
$color-white: #FFFFFF;
$color-black: #1A1A1A;